body{
	/*background-color: #010207;
	background-image: url(bg2.jpg),url(bg.jpg);
	*/
	/*background-image: url(i1.jpg);*/
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.custom {
   cursor: url(cur1.jpg), auto;
}

.transparentbox{
	/*background-image:url(pic10.jpg);
	*/position: relative;
	background-color: grey;
   	opacity: 0.7;
   	z-index:500;
 }

 .footer{
 	position:fixed;
	background-color: gray;
 	opacity:0.9;
 	z-index: 1000;
 }

 .copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

 #f1{
 	position:fixed;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	bottom:0px;
 	left:0px;
 	right:0px;
 	color: white;
 	z-index: 1000;
 }

 #h11{
 	position:absolute;
 	top:-10px;
 	left:10px;
 	color: white;
 	text-indent: 10px;
 	letter-spacing: 3px;
 	text-shadow:2px 2px black;
 }
 #h21{
 	font-size: 35px;
 	color: black;
 }
 
 #tbox1{
 	position:relative;
 	top: 200px;
 	margin-left: 60px;
 	margin-right: 60px;
 	padding: 100px;
 	z-index: 500;
 	border-radius: 15px;
 }

 #ul1{
 	list-style-type: none;
 	/*background-color:grey;
 	*/display: block;
 	float:right;
 	position:fixed;
 	right:-5px;
 	top:-25px;
 	border-radius: 20px;
 	text-align: left;
 	z-index:1000;
 }
  #ul2{
 	list-style-type: none;
 	/*background-color:grey;
 	*/display: block;
 	float:right;
 	position:fixed;
 	right:-100px;
 	bottom:-21px;
 	border-radius: 20px;
 	text-align: left;
 	z-index:1100;
 }
li{
	float:left;
	display:inline;
	text-align: left;
	margin:10px;
}

 li a{
 	display:block;
 	font-size: 20px;
  	text-align:left;
 	text-decoration: none;
 	color: white;
 	padding:10px;
 	transition: all 0.4s ease-in-out;

 }
 li a:hover{
 	background-color: white;
 	border-radius: 10px;

 	color:grey;
 }

